@import url(./GlobalStyle.css);

.container {
    height: 100vh;
    background-image: url(./image/Banner.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}