@import url(./GlobalStyle.css);
.container {
    font-family: var(--Primary_font);
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
}
.container .wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 1380px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.hero_card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: auto;
    width: 300px;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
}
.hero_card .hero_image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.hero_card .hero_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 50px;
}

.container .wrapper .hero_card .hero_content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 0;
    
}
.product_title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--Primary_color);
    margin-bottom: 8px;
}

.product_price {
    font-size: 1.4rem;
    font-weight: normal;
    color: #4a90e2;
    margin-bottom: 15px;

}
